<p-toast></p-toast>
<div class="page-load" >
    <mat-card>
        <mat-card-title>
            <div class="box">
                <div>
                    
                </div>
                <div>
                    Registration Form
                </div>
                <div>
                        I already have an account
                        <button id="login" mat-raised-button color="primary" type="submit">Login</button>
                </div>
            </div>
        </mat-card-title>
        <mat-card-content>
            

        </mat-card-content>
    </mat-card>

   

</div>
