<p-toast></p-toast>
<div class="signin-content">
  <mat-card class="container">
    <mat-card-title>
      <div class="box">
        Manage User<br>
      </div><br>
      <div class="box">
        <div>
          <button pButton pRipple icon="pi pi-trash" class="p-button-danger" (click)="deleteSelectedUsers()"
            [disabled]="!selectedUsers || !selectedUsers.length"></button>
        </div>

        <div>
          <span class="p-input-icon-left">
            <i class="pi pi-search"></i>
            <input pInputText type="text" id="filterGlobal" (input)="dt.filterGlobal($event.target.value, 'contains')"
              placeholder="Search..." />
          </span>
        </div>
        <div>
          <button pButton pRipple id="new" label="Add New User" icon="pi pi-plus"
            class="p-button-rounded p-button-success" (click)="openNew()">
          </button>
        </div>
        <div>
          <button pButton pRipple id="Assign" label="Assign Staff" icon="pi pi-plus"
            class="p-button-rounded p-button-success" (click)="openAssign()">
          </button>
        </div>
      </div>
    </mat-card-title>
    <mat-card-content>
      <div fxLayout="row" fxLayoutAlign="space-around center" style="height:100%">
        <mat-spinner [diameter]="50" strokeWidth="5" *ngIf="visibility ">
        </mat-spinner>
      </div>
      <p-table #dt responsiveLayout="stack" [value]="users" [rows]="5" [paginator]="true"
        [globalFilterFields]="['userFirstName','userMiddleName','lastName']" [(selection)]="selectedUsers"
        [rowHover]="true" dataKey="user_id"
        currentPageReportTemplate="Showing {first} to {last} of {totalRecords} entries" [showCurrentPageReport]="true">

        <ng-template pTemplate="header">
          <tr>
            <th style="width: 3rem">
              <p-tableHeaderCheckbox></p-tableHeaderCheckbox>
            </th>
            <th style="width: 6rem" pSortableColumn="user_id">ID <p-sortIcon field="user_id"></p-sortIcon>
            </th>
            <th style="width: 10rem" pSortableColumn="userFirstName">Name <p-sortIcon field="userFirstName">
              </p-sortIcon>
            </th>
            <th style="width: 15rem" pSortableColumn="emailAddress">Email Address <p-sortIcon field="emailAddress">
              </p-sortIcon>
            </th>
            <th style="width: 12rem" pSortableColumn="phoneNumber">Contact Number <p-sortIcon field="phoneNumber">
              </p-sortIcon>
            </th>
            <th style="width: 7rem" pSortableColumn="batch">Batch <p-sortIcon field="batch"></p-sortIcon>
            </th>
            <th style="width: 7rem" pSortableColumn="skill">Skill <p-sortIcon field="skill"></p-sortIcon>
            </th>
            <th style="width: 10rem"> Edit / Delete</th>
          </tr>
        </ng-template>

        <ng-template pTemplate="body" let-user>
          <tr>
            <td>
              <p-tableCheckbox [value]="user"></p-tableCheckbox>
            </td>
            <td>
              <p-button label="{{user.user_id}}" styleClass="p-button-link" (click)="viewUser(user)"></p-button>
            </td>
            <td>{{user.firstName}} {{user.lastName}}</td>
            <td style="word-wrap: break-word;">{{user.emailAddress}}</td>
            <td>{{user.phoneNumber}}</td>
            <td>{{user.batch}}</td>
            <td>{{user.skill}}</td>
            <td>
              <div class="action">
                <span>
                  <button pButton pRipple icon="pi pi-pencil" class="p-button-rounded p-button-success"
                    (click)="editProgram(user)"></button>
                </span>&nbsp;&nbsp;&nbsp;
                <span>
                  <button pButton pRipple icon="pi pi-trash" class="p-button-rounded p-button-danger"
                    (click)="deleteUser(user)"></button>
                </span>
              </div>
            </td>
          </tr>
        </ng-template>
        <ng-template pTemplate="summary">
          <div class="p-d-flex p-ai-center p-jc-between" style="text-align: center;"> In total there are {{users ?
            users.length : 0 }} users.</div>
        </ng-template>
      </p-table>
    </mat-card-content>
  </mat-card>

  <p-dialog [(visible)]="userDialogue" [style]="{width: '68%'}" header="User Details" [modal]="true"
    styleClass="p-fluid">
    <ng-template pTemplate="content">

      <form [formGroup]="userForm" novalidate (ngSubmit)="onSubmit()">
        <mat-card class="user-card">
          <mat-card-content>
            <div class="row">
              <div class="col">
                <mat-form-field class="full-width">
                  <input matInput placeholder="First name" formControlName="userFirstName">
                  <mat-error *ngIf="userForm.controls['userFirstName'].hasError('required')">
                    First name is <strong>required</strong>
                  </mat-error>
                </mat-form-field>
              </div>
              <div class="col">
                <mat-form-field class="full-width">
                  <input matInput placeholder="Middle name" formControlName="userMiddleName">
                  <mat-error *ngIf="userForm.controls['userMiddleName'].hasError('required')">
                    Middle name is <strong>required</strong>
                  </mat-error>
                </mat-form-field>
              </div>
              <div class="col">
                <mat-form-field class="full-width">
                  <input matInput placeholder="Last name" formControlName="userLastName">
                  <mat-error *ngIf="userForm.controls['userLastName'].hasError('required')">
                    Last name is <strong>required</strong>
                  </mat-error>
                </mat-form-field>
              </div>
            </div>


            <div class="row">
              <div class="col">
                <mat-form-field class="full-width">
                  <input matInput placeholder="Email address" formControlName="emailAddress">
                  <mat-error *ngIf="userForm.controls['emailAddress'].hasError('required')">
                    Email address is <strong>required</strong>
                  </mat-error>
                </mat-form-field>
              </div>
              <div class="col">
                <mat-form-field class="full-width">
                  <input matInput placeholder="Phone no" formControlName="userPhoneNumber">
                  <mat-error *ngIf="userForm.controls['userPhoneNumber'].hasError('required')">
                    Phone number is <strong>required</strong>
                  </mat-error>
                </mat-form-field>
              </div>
              <div class="col">
                <mat-form-field class="full-width">
                  <input matInput placeholder="LinkedIn Url" formControlName="userLinkedinUrl">
                  <mat-error *ngIf="userForm.controls['userLinkedinUrl'].hasError('required')">
                    linked In is <strong>required</strong>
                  </mat-error>
                </mat-form-field>
              </div>
            </div>


            <div class="row">
              <div class="col">
                <mat-form-field class="full-width">
                  <mat-form-field appearance="fill">
                    <mat-label>User Role</mat-label>
                    <mat-select [formControl]="userRoleMaps" multiple>
                      <mat-option *ngFor="let role of userRoleMaps" [value]="role">{{role}}</mat-option>
                    </mat-select>
                  </mat-form-field>
                </mat-form-field>
              </div>

              <div class="col">
                <mat-form-field class="full-width">
                  <mat-form-field appearance="fill">
                    <mat-label>Visa Status </mat-label>
                    <mat-select [formControl]="userVisaStatus">
                      <mat-option *ngFor="let v1 of userVisaStatus" [value]="v1">{{v1}}</mat-option>
                    </mat-select>
                  </mat-form-field>
                </mat-form-field>
              </div>

            </div>

            <div class="row">
              <div class="col">
                <mat-form-field class="full-width">
                  <input matInput placeholder="User name" formControlName="userName">
                  <mat-error *ngIf="userForm.controls['userName'].hasError('required')">
                    User name is <strong>required</strong>
                  </mat-error>
                </mat-form-field>
              </div>
              <div class="col">
                <mat-form-field class="full-width">
                  <input matInput placeholder="Password" formControlName="password">
                  <mat-error *ngIf="userForm.controls['password'].hasError('required')">
                    password is <strong>required</strong>
                  </mat-error>
                </mat-form-field>
              </div>
           
            </div>

            <br>
              <div class="row">
              
              <div class="col">
                  <mat-label>Upload Profile Picture: </mat-label>
                  <input type="file" id="imagefile" accept="image/*" (change)="saveImage($event)">
                  
              </div>
            
              <div class="col">
                <mat-label>Upload Resume: </mat-label>
                <input type="file" id="resume" (change)="saveFile($event)" >
                
            </div>
          
             </div>
            


            <div class="row">
              <div class="col">
                <mat-form-field class="full-width">
                  <input matInput placeholder="Under Graduate" formControlName="userEduUg">
                  <mat-error *ngIf="userForm.controls['userEduUg'].hasError('required')">
                    Under Graduate is <strong>required</strong>
                  </mat-error>
                </mat-form-field>
              </div>
              <div class="col">
                <mat-form-field class="full-width">
                  <input matInput placeholder="Post Graduate" formControlName="userEduPg">
                  <mat-error *ngIf="userForm.controls['userEduPg'].hasError('required')">
                    Post Graduate is <strong>required</strong>
                  </mat-error>
                </mat-form-field>
              </div>
              <div class="col">
                <mat-form-field class="full-width">
                  <input matInput placeholder="Time Zone" formControlName="userTimeZone">
                  <mat-error *ngIf="userForm.controls['userTimeZone'].hasError('required')">
                    Time Zone<strong>required</strong>
                  </mat-error>
                </mat-form-field>
              </div>
            </div>

            <div class="col">
              <mat-form-field class="full-width">
                <input matInput placeholder="User Comments" formControlName="usercomments">
                <mat-error *ngIf="userForm.controls['usercomments'].hasError('required')">
                  user comments is <strong>required</strong>
                </mat-error>
              </mat-form-field>
            </div>

          </mat-card-content>
          <mat-card-actions style="display: flex; justify-content: center; text-align:center;">
            <button mat-raised-button color="warn" type="submit">Cancel</button>
            <button mat-raised-button color="primary" type="submit">Submit</button>
          </mat-card-actions>
        </mat-card>
      </form>


    </ng-template>
    <!-- <ng-template pTemplate="footer">
        <button pButton pRipple label="Cancel" icon="pi pi-times" class="p-button-rounded p-button-danger"
            (click)="hideDialog()"></button>
        <button pButton pRipple label="Save" icon="pi pi-check" class="p-button-rounded p-button-success"
            (click)="saveProgram()"></button>
    </ng-template> -->
  </p-dialog>


  <p-dialog [(visible)]="viewUserDialogue" [style]="{width: '700px'}" header="User Details" [modal]="true"
    styleClass="p-fluid">

    <p-table styleClass="p-datatable-gridlines" responsiveLayout="scroll" *ngIf='user'>
      <ng-template pTemplate="header">
        <tr>
          <th>First Name </th>
          <th><span class="viewtableData">{{user.firstName}}</span></th>
        </tr>
        <tr>
          <th>Middle Name </th>
          <th><span class="viewtableData">{{user.middleName}}</span></th>
        </tr>
        <tr>
          <th>Last Name </th>
          <th><span class="viewtableData">{{user.lastName}}</span></th>
        </tr>
        <tr>
          <th>Email Address </th>
          <th><span class="viewtableData">{{user.emailAddress}}</span></th>
        </tr>
        <tr>
          <th>Phone Number </th>
          <th><span class="viewtableData">{{user.phoneNumber}}</span></th>
        </tr>
        <tr>
          <th>Location </th>
          <th><span class="viewtableData">{{user.location}}</span></th>
        </tr>
        <tr>
          <th>Time Zone </th>
          <th><span class="viewtableData">{{user.timezone}}</span></th>
        </tr>
        <tr>
          <th>Linkedin URL </th>
          <th><span class="viewtableData">{{user.linkedUrl}}</span></th>
        </tr>
        <tr>
          <th>UG Programme </th>
          <th><span class="viewtableData">{{user.ugProgram}}</span></th>
        </tr>
        <tr>
          <th>PG Programme </th>
          <th><span class="viewtableData">{{user.pgProgram}}</span></th>
        </tr>
        <tr>
          <th>Skills </th>
          <th><span class="viewtableData">{{user.skill}}</span></th>
        </tr>
        <tr>
          <th>User Role </th>
          <th><span class="viewtableData">{{user.role}}</span></th>
        </tr>
        <tr>
          <th>Total Experience </th>
          <th><span class="viewtableData">{{user.experience}}</span></th>
        </tr>
        <tr>
          <th>Comments</th>
          <th><span class="viewtableData">{{user.comments}}</span></th>
        </tr>
        <tr>
          <th>File Type</th>
          <th><span class="viewtableData">{{ user.fileType}}</span></th>
        </tr>
        <tr>
          <th>Role</th>
          <th><span class="viewtableData">{{user.userRole}}</span></th>
        </tr>
        <tr>
          <th>Batch</th>
          <th><span class="viewtableData">{{user.batch}}</span></th>
        </tr>
        <tr>
          <th>Program</th>
          <th><span class="viewtableData">{{user.program}}</span></th>
        </tr>
        <tr>
          <th>Visa Status</th>
          <th><span class="viewtableData">{{user.userVisaStatus}}</span></th>
        </tr>
      </ng-template>
    </p-table>


    <ng-template pTemplate="footer">
      <button pButton pRipple label="Cancel" icon="pi pi-times" class="p-button-rounded p-button-danger"
        (click)="hideDialog()"></button>

    </ng-template>
  </p-dialog>
  <p-confirmDialog [style]="{width: '450px'}"></p-confirmDialog>

</div>