<div class="forgot-Password-content">
  <mat-card>
   
      <mat-card-content>
      
        <form *ngIf="!success" class="flex-form"[formGroup]="firstFormGroup" (ngSubmit)=" onClick()">
              
          <mat-form-field>
            
            
            <input matInput placeholder="Email" formControlName="email" required>
        

      
           
           
        </mat-form-field>
        <mat-error *ngIf="email.invalid">{{ getEmailErrorMessage() }}</mat-error>
        <mat-card-actions>

          <button  mat-raised-button color="primary" (click)="displayValue=textInput">Send Link</button>
         


        </mat-card-actions>
        <a href="/verification-code" style="text-decoration: none;">{{ displayValue }}</a>
    </form>
