<div class="reset-password-content">
    <mat-card>
      <mat-card-content>
        <form [formGroup]="resetPassword" class="form-horizontal" (ngSubmit)="onSubmit()">
          <div class="panel">
            <div class="panel-body">
              <div formGroupName="passwordGroup">
                <div class="form-group">
                  <label >Type in new Password</label>
                  <div class="full-width-input">
                    <input type="password" class="form-control" formControlName="password"
                           (blur)="logValidationErrors()">
                  </div>
                  <mat-error *ngIf="formErrors.password" >
                    {{formErrors.password}}
                  </mat-error>
                </div>
                <div class="form-group reset-password-input">
                  <label >ReType Password</label>
                  <div class="full-width-input">
                    <input type="password" class="form-control" formControlName="rePassword"
                           (blur)="logValidationErrors()"  >
                  </div>
                  <mat-error *ngIf="formErrors.rePassword || formErrors.passwordGroup">
                    {{formErrors.rePassword ? formErrors.rePassword : formErrors.passwordGroup}}
                  </mat-error>
                </div>
              </div>
              <div class="reset-password-input">
                <a href="/login" mat-raised-button color="primary">submit</a>
              <!-- <button type="submit" mat-raised-button color="primary" class="btn btn-primary">Submit</button>--> 
              </div>
            </div>
          </div>
        </form>
      </mat-card-content>
    </mat-card>
  </div>
