:host ::ng-deep {

  mat-card {
    max-width: 65%;
    max-height: 80%;
    margin: 2em auto;
    text-align: center;
  }

  .p-dropdown {
    margin: 30px;
    margin-left: 80px;
    margin-right: 80px;
    max-width: 18vw !important;
    min-width: 18vw !important;
    
  }


  .p-paginator {
    .p-paginator-current {
      margin-left: auto;
    }
  }

  .p-progressbar {
    height: 0.5rem;
    background-color: #d8dadc;

    .p-progressbar-value {
      background-color: #607d8b;
    }
  }

  .p-calendar .p-datepicker {
    min-width: 25rem;

    td {
      font-weight: 400;
    }
  }

  .p-datatable.p-datatable-customers {
    .p-datatable-header {
      padding: 1rem;
      text-align: center;
      font-size: 1.5rem;
    }

    .p-paginator {
      padding: 1rem;
    }

    .p-datatable-thead>tr>th {
      text-align: center;
      cursor: auto;
    }

    .p-datatable-tbody>tr>td {
      cursor: auto;
    }

    .p-dropdown-label:not(.p-placeholder) {
      text-transform: uppercase;
    }
  }

  /* Responsive */
  .p-datatable-customers .p-datatable-tbody>tr>td .p-column-title {
    display: none;
  }


  .action {
    display: flex;
    flex-direction: row;
    width: 60%;
    justify-content: space-between;

    //  color: red;
  }

}

@media screen and (max-width: 960px) {
  :host ::ng-deep {
    .p-datatable {
      &.p-datatable-customers {

        .p-datatable-thead>tr>th,
        .p-datatable-tfoot>tr>td {
          display: none !important;
        }

        .p-datatable-tbody>tr {
          border-bottom: 1px solid var(--layer-2);

          >td {
            text-align: left;
            display: block;
            border: 0 none !important;
            width: 100% !important;
            float: left;
            clear: left;
            border: 0 none;

            .p-column-title {
              padding: 0.4rem;
              min-width: 30%;
              display: inline-block;
              margin: -0.4rem 1rem -0.4rem -0.4rem;
              font-weight: bold;
              // color: red;
            }

            .p-progressbar {
              margin-top: 0.5rem;
            }
          }
        }
      }
    }
  }
}

label {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  text-align: right;
  line-height: 40px;
  margin-bottom: 4px;
}

input {
  height: 35px;
  flex: 0 0 200px;
}

.box {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  color: green;
  width: 100%;
  text-align: left;
  padding: 1rem 1rem;
  border: 1px solid #e9ecef;
  border-width: 0 0 1px 0;
  background: #f8f9fa;
  transition: box-shadow 0.2s;

}

.radio {
  margin-top: 15px;
  display: flex;
  width: 100%;
  justify-content: space-between;
}