:host ::ng-deep {

  mat-card {
    max-width: 70%;
    max-height: 30%;
    margin: 2em auto;
    text-align: center;
  }

  .p-dropdown {
    margin: 20px;
    margin-left: 50px;
    margin-right: 50px;
    max-width: 16vw !important;
    min-width: 15vw !important;
  }

  label {
    font-size: 1.15rem;
    text-align: right;
    clear: both;
    float: left;
    margin-right: 15px;
    margin-top: 10px;
  }

  input {
    margin-top: 20px;
  }

  h4 {
    font-size: 1.15rem;
  }

  .container {
    display: inline-block;
    margin-top: 40px;
    margin-left: -60px;
    text-align: left;
  }

  .dropdown-title {
    display: inline-block;
    margin-left: 20px;
  }

  .Student-info {
    display: inline-block;
    margin-left: 20px;
  }

  .assigment-button {
    margin: 40px;
    float: right;
  }


}

label {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  text-align: right;
  line-height: 40px;
  margin-bottom: 4px;
}

input {
  height: 25px;
  flex: 0 0 200px;
}

.box {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  color: green;
  width: 100%;
  text-align: left;
  padding: 1rem 1rem;
  border: 1px solid #e9ecef;
  border-width: 0 0 1px 0;
  background: #f8f9fa;
  transition: box-shadow 0.2s;
}