
<p-toast></p-toast>
<div class="signin-content">
    <mat-card>
        <mat-card-title>
            <div class="box">
                Manage Attendance<br>
            </div><br>
            <div class="box">
                <div>
                    <button pButton pRipple icon="pi pi-trash" class="p-button-danger"
                        [disabled]="!selectedAttendances || !selectedAttendances.length"></button>
                </div>
                <div>
                    <span class="p-input-icon-left">
                        <i class="pi pi-search"></i>
                        <input pInputText type="text" id="filterGlobalId"
                            (input)="dt.filterGlobal($event.target.value, 'contains')" placeholder="Search..." />
                    </span>
                </div>
                <div>
                    <button pButton pRipple id="new" label="A New Attendance" icon="pi pi-plus"
                        class="p-button-rounded p-button-success" (click)="openNew()"></button>
                </div>

            </div>
        </mat-card-title>
        <mat-card-content>
            <div fxLayout="row" fxLayoutAlign="space-around center" style="height:100%">
                <mat-spinner [diameter]="50" strokeWidth="5" *ngIf="visibility ">
                </mat-spinner>
            </div>

            <p-table #dt responsiveLayout="stack" [value]="attendances" [rows]="5" [paginator]="true"
                [globalFilterFields]="['attId','csId','studentId']" [(selection)]="selectedAttendances"
                [rowHover]="true" dataKey="attId"
                currentPageReportTemplate="Showing {first} to {last} of {totalRecords} entries"
                [showCurrentPageReport]="true">

                <ng-template pTemplate="header">
                    <tr>
                        <th style="width: 3%">
                            <p-tableHeaderCheckbox></p-tableHeaderCheckbox>
                        </th>
                       <!-- <th style="width: 20%" pSortableColumn="atttId">Attendance ID <p-sortIcon
                                field="attId"></p-sortIcon>
                        </th>-->
                        <th style="width: 22%" pSortableColumn="csId">Class ID
                            <p-sortIcon field="description">
                            </p-sortIcon>
                        </th>
                        <th style="width: 20%" pSortableColumn="studentId">Student ID <p-sortIcon
                                field="Comments"></p-sortIcon>
                        </th>
                        <th style="width:25%" pSortableColumn="attendance">Present <p-sortIcon field="Comments">
                            </p-sortIcon>
                        </th>
                        

                        <th style="width: 15%"> Edit / Delete
                        </th>
                    </tr>
                </ng-template>

                <ng-template pTemplate="body" let-attendance>
                    <tr>
                        <td>
                            <p-tableCheckbox [value]="attendance"></p-tableCheckbox>
                        </td>
                      <!-- <td>{{attendance.attId}}</td>--> 
                        <td>{{attendance.csId}}</td>
                        <td>{{attendance.studentId}}</td>
                        <td>{{attendance.attendance}}</td>

                        <td>
                            <div class="action">
                                <span>
                                    <button pButton pRipple icon="pi pi-pencil"
                                        class="p-button-rounded p-button-success"
                                        (click)="editAttendance(attendance)"></button>
                                </span>
                                <span>
                                    <button pButton pRipple icon="pi pi-trash" class="p-button-rounded p-button-danger"
                                        (click)="deleteAttendance(attendance)"></button>
                                </span>
                            </div>
                        </td>
                    </tr>
                </ng-template>
                <ng-template pTemplate="summary">
                    <div class="p-d-flex p-ai-center p-jc-between">
                        In total there are {{attendances ? attendances.length : 0 }} Attendances.
                    </div>
                </ng-template>
            </p-table>
        </mat-card-content>
    </mat-card>
</div>

<p-dialog [(visible)]="attendanceDialogue" [style]="{width: '550px'}" header="Attendance Details" [modal]="true"
    styleClass="p-fluid">
    <ng-template pTemplate="content">
        <div class="p-fluid p-grid p-formgrid">
            

            <div class="p-field">
                <label for="programName">Program Name</label>
                <p-dropdown [options]="programList" id="programName" [(ngModel)]="attendance.programName"
                    placeholder="Select a Program name" editable="true" optionLabel="programName" [showClear]="true">
                </p-dropdown>
            </div>
            <div class="p-field" >
                <label for="batchId">Batch Id</label>
             
                    <p-dropdown [options]="batchList"  [(ngModel)]="attendance.batchId" 
                     placeholder="Select a Batch Id" id="batchId" editable="true"
                     optionLabel="batchId"  [showClear]="true"></p-dropdown>
            </div>
            <div class="p-field">
                <label for="class">Class Name</label>
                <p-multiSelect id="classNameId" [options]="sessionList" [(ngModel)]="selectedClasses"
                    defaultLabel="Select Class Name" optionLabel="classTopic" display="chip"></p-multiSelect>
            </div>
            <div class="p-field">
                <label for="studentId">Student Name</label>
                <p-multiSelect id="studentId" [options]="users" [(ngModel)]="selectedStudents"
                    defaultLabel="Select students" optionLabel="userFirstName" display="chip"></p-multiSelect>
            </div>
           
           <div class="p-field">
                <label for="Attendance">Attendance</label>
                <p-dropdown [options]="attendanceDrop" id="Attendance" [(ngModel)]="selectedDrop" 
                    placeholder="Select Attendance" display="'chip" [showClear]="true">
                </p-dropdown>
    
            </div>
            <div class="p-field p-col-12 p-md-4">
                <label for="date">Attendance Date</label>
                <p-calendar [(ngModel)]="selectedDate" [showIcon]="true" inputId="icon" id="calendarDueDate"
                    dateFormat="dd/mm/yy" [style]="{ 'position': 'relative', 'z-index': '80'}"></p-calendar>
            </div>
            <div></div>
        </div>
    </ng-template>

    <ng-template pTemplate="footer">
        <button pButton pRipple label="Cancel" icon="pi pi-times" class="p-button-rounded p-button-danger"
            (click)="hideDialog()"></button>
        <button pButton pRipple label="Save" id="saveAttendance" icon="pi pi-check"
            class="p-button-rounded p-button-success" (click)="saveAttendance()"></button>
    </ng-template>
</p-dialog>
<p-confirmDialog [style]="{width: '450px'}"></p-confirmDialog>