<p-toast></p-toast>
<div class="signin-content">
    <mat-card>
        <mat-card-title>
            <div class="box">
                Manage Program<br>
            </div><br>
            <div class="box">
                <div>
                    <button pButton pRipple icon="pi pi-trash" class="p-button-danger"
                        (click)="deleteSelectedPrograms()"
                        [disabled]="!selectedPrograms || !selectedPrograms.length"></button>
                </div>
                <div>
                    <span class="p-input-icon-left">
                        <i class="pi pi-search"></i>
                        <input pInputText type="text" id="filterGlobal" (input)="dt.filterGlobal($event.target.value, 'contains')"
                            placeholder="Search..." />
                    </span>
                </div>
                <div>
                    <button pButton pRipple id="new" label="A New Program" icon="pi pi-plus"
                        class="p-button-rounded p-button-success" (click)="openNew()"></button>
                </div>
            </div>
        </mat-card-title>
        <mat-card-content>
            <div fxLayout="row" fxLayoutAlign="space-around center" style="height:100%">
                <mat-spinner [diameter]="50" strokeWidth="5" *ngIf="visibility ">
                </mat-spinner>
            </div>
            <p-table #dt responsiveLayout="stack" [value]="programs" [rows]="5" [paginator]="true"
                [globalFilterFields]="['programName','programDescription','programStatus']"
                [(selection)]="selectedPrograms" [rowHover]="true" dataKey="programId"
                currentPageReportTemplate="Showing {first} to {last} of {totalRecords} entries"
                [showCurrentPageReport]="true">
                <ng-template pTemplate="header">
                    <tr>
                        <th style="width: 3rem">
                            <p-tableHeaderCheckbox></p-tableHeaderCheckbox>
                        </th>
                        <th pSortableColumn="programName">Program Name <p-sortIcon field="programName"></p-sortIcon>
                        </th>
                        <th pSortableColumn="programDescription">Program Description <p-sortIcon field="description">
                            </p-sortIcon>
                        </th>
                        <th pSortableColumn="programStatus">Program Status <p-sortIcon field="status"></p-sortIcon>
                        </th>
                        <th> Edit Delete
                        </th>


                    </tr>
                </ng-template>

                <ng-template pTemplate="body" let-program>
                    <tr>
                        <td>
                            <p-tableCheckbox [value]="program"></p-tableCheckbox>
                        </td>
                        <td>{{program.programName}}</td>
                        <td>{{program.programDescription}}</td>
                        <td>{{program.programStatus}}</td>
                        <td>
                            <div class="action">
                                <span>
                                    <button pButton pRipple icon="pi pi-pencil"
                                        class="p-button-rounded p-button-success" id="editProgram"
                                        (click)="editProgram(program)"></button>
                                </span>
                                <span>
                                    <button pButton pRipple icon="pi pi-trash" class="p-button-rounded p-button-danger" id="deleteProgram"
                                        (click)="deleteProgram(program)"></button>
                                </span>
                            </div>
                        </td>
                    </tr>
                </ng-template>
                <ng-template pTemplate="summary">
                    <div class="p-d-flex p-ai-center p-jc-between">
                        In total there are {{programs ? programs.length : 0 }} programs.
                    </div>
                </ng-template>
            </p-table>
        </mat-card-content>
    </mat-card>
</div>
<p-dialog [(visible)]="programDialogue" [style]="{width: '450px'}" header="Program Details" [modal]="true"
    styleClass="p-fluid">
    <ng-template pTemplate="content">
        <div class="p-field">
            <label for="programName">Name</label>
            <input type="text" pInputText id="programName" [(ngModel)]="program.programName" required autofocus />
            <small class="p-invalid" *ngIf="submitted && !program.programName">Name is required.</small>
        </div>
        <div class="p-field">
            <label for="programDescription">Description</label>
            <input type="text" id="programDescription" pInputText [(ngModel)]="program.programDescription" required
                rows="3" cols="20" />
        </div>

        <div class="radio">
            <div>
                <lable for="online">Status</lable>
            </div>
            <div *ngFor="let category of status">
                <p-radioButton [inputId]="category" name="category" [value]="category" id="category"
                    [(ngModel)]="program.programStatus">
                </p-radioButton>
                {{category}}
            </div>
        </div>
    </ng-template>
    <ng-template pTemplate="footer">
        <button pButton pRipple label="Cancel" icon="pi pi-times" class="p-button-rounded p-button-danger"
            (click)="hideDialog()"></button>
        <button pButton pRipple label="Save" icon="pi pi-check" class="p-button-rounded p-button-success" id="saveProgram"
            (click)="saveProgram()"></button>
    </ng-template>
</p-dialog>
<p-confirmDialog [style]="{width: '450px'}"></p-confirmDialog>